<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewOneSOS"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NewOneSOS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContactListActivity"
            android:exported="true"
            android:theme="@style/Theme.NewOneSOS"/>
        <activity android:name=".AddContactActivity"
            android:exported="true"
            android:theme="@style/Theme.NewOneSOS"/>
        <receiver android:name=".ScreenReceiver"
            android:exported="true"
            android:permission="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND">
            <intent-filter>
                <action android:name="APP_SPECIFIC_BROADCAST" />
            </intent-filter>
        </receiver>
        <service android:name=".TimerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND"/>
        <service android:name=".RecurringService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND"/>
    </application>

</manifest>